/*
* Design and Code: Saurabh Rai
*/

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

.black80 {
  color: black;
  opacity: 0.8;
}

.black70 {
  color: black;
  opacity: 0.7;
}

.black60 {
  color: black;
  opacity: 0.6;
}

.black61 {
  color: #656565;
}

.black40 {
  color: black;
  opacity: 0.4;
}

.black20 {
  color: black;
  opacity: 0.2;
}

.white100 {
  color: white;
}

.primary-color {
  color: var(--primary-color);
}

*,
:before,
:after {
  box-sizing: border-box;
}

.ml-20 {
  margin-left: 20%;
  width: 60%;
  padding-top: 50px;
}

p {
  color: #3c3c3c;
}

/* Colours Pallete*/

:root {
  --primary-color: #fc3a52;
  --secondary-color: #1c1b20;
}

@font-face {
  font-family: "saurabh";
  src: url(Font/circularstd-bold.woff2) format("woff2"),
    url(Font/circularstd-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "saurabh-book";
  src: url(Font/circularstd-book.woff2) format("woff2"),
    url(Font/circularstd-book.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "saurabh-medium";
  src: url(Font/circularstd-medium.woff2) format("woff2"),
    url(Font/circularstd-medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.white {
  color: #ffffff;
}

.black {
  color: #0e2431;
}

body {
  margin: 0;
  font-family: Saurabh-book;
}

/* ---------------------------------------------------------------------------
Home Page
------------------------------------------------------------------------------ */

.home-section-1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
}

/* Vertical Line */

.vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  left: 51.58%;
  margin-left: -3px;
  top: 0;
}

.vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  /* z-index: 0; */
}

.dot1 {
  left: 20%;
  margin-left: -20px;
  top: 16%;
  background-color: #fc3a52;
}

.dot2 {
  left: 51.58%;
  margin-left: -20px;
  top: 30%;
  background-color: #f6ecdd;
}

.dot3 {
  left: 83%;
  margin-left: -20px;
  top: 3%;
  background-color: #372154;
}

.hero-title-div {
  position: absolute;
  margin-left: 20%;
  margin-top: 8%;
  margin-right: 17%;
}

.big-title-div {
  position: relative;
  margin-left: 20%;
  margin-top: 8%;
  margin-right: 10%;
}

.hero-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 92px;
  color: #171717;
}

.padding {
  padding-top: 40px;
}

.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}

.hero-para {
  margin-top: -20px;
  margin-right: 0%;
}

.para {
  font-family: saurabh-book;
  font-size: 27px;
  line-height: 35px;
}

.hero-circle {
  position: absolute;
  right: 20%;
  margin-top: 11%;
  z-index: 0;
  width: 23%;
}

.nametag1 {
  position: absolute;
  left: 2%;
  margin-top: -13%;
}

.nametag2 {
  position: absolute;
  left: 40%;
  margin-top: -13%;
}

.nametag-text {
  font-family: saurabh-book;
  font-size: 16px;
}

.dash {
  border-top: 1px solid #d8d8d8;
  position: absolute;

  top: 49%;
}

.dash1 {
  width: 6vw;
  left: -160%;
}

.dash2 {
  width: 8vw;
  left: 120%;
}

.dash3 {
  width: 23vw;
  left: 110%;
}

.dash4 {
  width: 6vw;
  left: 260%;
}

.hline:after {
  width: 100%;
  height: 1px;
  background: rgb(231, 3, 3);
  content: "";
}

@media (max-width: 999px) {
  .home-section-1 {
    margin-top: 100px;
  }
}

/* Section two 
gallery with grid and changing image with time and parallax */

.section-2-container {
  display: flex;
  /* height: 145vh; */
  width: 70%;
  align-items: center;
  align-content: center;
  margin-left: 17%;
  position: relative;
}

.home-section-2 {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  height: auto;
  width: 100%;
  z-index: 1;
  /* grid-area:
    "a b c d e f"
    "g h i j k l"
    "m n o p q r"; */
}

.home-section-2 > .bottom-fit {
  align-items: flex-end;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > .middle-fit {
  align-items: center;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > .up-fit {
  align-items: baseline;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > div > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 
----Section 3 / Home
-------------------------- */

.home-section3 {
  display: flex;
  height: 170vh;
  width: 100%;
  background-color: #f4f4f4;
  z-index: 2;
}

.vertical-text {
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: top left;
  bottom: 0;
  left: 7%;
  text-align: center;
  color: #fc3a52;
}

/* Canvas Artboard ___________________*/

.canvas-artboard {
  display: block;
  width: 35.1vh;
  height: 46.8vh;
  position: relative;
  left: 64%;
  transform: translateX(-11.05vh);
  top: 15%;
  border-width: 0.2vh;
  border-color: #fc3a52;
  border-style: dashed;
  transition: top 1.5s ease-in-out;
  background-color: white;
}

/* Section 3/ Home User Drawing */

.user-drawing-div {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 10%;
  left: -7%;
  flex-wrap: wrap;
}

.user-drawing {
  height: 30.8vh;
  width: 23.1vh;
  margin: 5px 5px;
  background-color: white;
  position: relative;
}

.artist-you {
  margin-top: 40px;
}

/* Text Changing and Animation  
---------------------------------------------*/

.text-wrapper {
  text-align: left;
}

.animated-words {
  display: inline-block;
}

.animated-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: transparent;
}

.animated-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: transparent;
}

.animated-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: transparent;
}

.animated-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: transparent;
}

.animated-words span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: transparent;
}

.animated-words span {
  position: absolute;
  opacity: 0;
  /* overflow: hidden; */
  left: 0%;
  top: 0%;
  color: transparent;
  -webkit-animation: animateWord 18s linear infinite 0s;
  -ms-animation: animateWord 18s linear infinite 0s;
  animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Section 4/ showcase 
---------------------------*/

.section-4-work {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.light-bg1 {
  width: 70%;
  height: 12%;
  margin-left: 14%;
  opacity: 0.8;
  background-color: #ececec;
  position: absolute;
  margin-top: 100px;
}

.light-bg2 {
  width: 100%;
  height: 12%;
  opacity: 1;
  background-color: #ececec;
  position: absolute;
  margin-top: 100px;
}

.light-bg3 {
  width: 200px;
  height: 200px;
  opacity: 1;
  z-index: 0;
  background-color: #ececec;
  position: absolute;
  margin-top: 300px;
  margin-left: 75%;
}

/* Section4 Grid Work
---------------------------------- */

.section5-work {
  width: 100vw;
  align-items: center;
  align-content: center;

  z-index: 2;
}

/* Media Queries
-----------------------------
------------------------------- */

@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 80px;
    line-height: 80px;
  }

  .para {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .hero-title {
    font-size: 70px;
    line-height: 70px;
  }

  .para {
    font-size: 18px;
  }

  .home-section-2 {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .home-section-2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Discover more button */

.discover-more {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.discover-button-container {
  width: 200px;
  height: 80px;

  position: absolute;
  cursor: pointer;
}

.discover {
  width: 70px;
  height: 70px;
  background-color: bisque;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  margin-left: 0%;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.discover-text {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 10%;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: saurabh;
  font-size: 25px;
}

.discover-button-container:hover > .discover {
  background-color: bisque;
  margin-left: 70%;
}

.discover-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: #2b1e31;
  right: 170px;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: right;
}

.discover-text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 0px;
  height: 2px;
  background-color: #2b1e31;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow {
  position: absolute;
  top: 44%;
  /* transform: translateY(-50%); */
  left: 95%;
  transition: 0.2s;

  width: 0px;
}

.discover-button-container:hover > .discover-text::before {
  width: 0px;
}

.discover-button-container:hover > .discover-text::after {
  width: 16px;
}

.discover-button-container:hover > .arrow {
  width: 8px;
  transition-delay: 0.2s;
}

.discover-button-container:hover > .discover-text {
  left: 13%;
}

.discover-button-container:hover > .arrow {
  left: 106%;
}

.discover:hover {
  width: 80px;
  height: 80px;
}

/* HomE BLOG */

.home-blog-section {
  width: 100%;
  height: auto;
}

.home-article-container {
  width: 80%;
  margin-left: 13%;
  min-height: 46vh;
  display: block;
  position: relative;
  background-color: white;
}

.read-all-article {
  width: 80%;
  margin-left: 13%;
  position: relative;
  height: 100px;
}

.read-more {
  position: absolute;
  top: 5%;
  left: 10%;
}

/* Case Study| Project Template */
/* -----------------------------------
------------------------------------
----------------------------- */

.casestudy-hero-section {
  display: flex;
  height: 120vh;
  width: 100vw;
}

/* .casestudy-hero-background {
  background: url('projects/casestudy1-1.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.home-overlay {
  background-color: white;
  opacity: 0.96;
}

.casestudy-overlay {
  background-color: var(--primary-color);
  opacity: 0.8;
}

.parallax-window {
  height: 100vh;
  position: relative;
}

.line {
  width: 50px;
  height: 4px;
  background: white;
  border: none;
  margin-top: -40px;
  margin-left: 0;
}

.casestudy-vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.casestudy-vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.casestudy-vl2 {
  left: 51.58%;
  margin-left: -3px;
  top: 0;
}

.casestudy-vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

.casestudy-title-div {
  margin-left: 20%;
  margin-top: 12%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  margin-right: 17%;
}

.casestudy-hero-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 92px;
  color: white;
}

.casestudy-outlined {
  -webkit-text-stroke: 0.6px white;
  color: transparent;
}

.casestudy-category {
  color: white;
  font-family: saurabh-book;
}

.casestudy-hero-para {
  color: white;
  font-family: saurabh-book;
}

.hero-para {
  margin-top: 10px;
}

.casestudy1-section2 {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  margin-top: 20px;
}

.w-220 {
  min-width: 300px;
}

h5 {
  font-family: saurabh-book;
  font-size: 19px;
  margin-bottom: 0px;
  color: black;
  opacity: 0.4;
}

.casestudy1-section3 {
  width: 100vw;
  /* height: 72vh; */
  height: auto;
  position: relative;
  background-color: white;
}

.casestudy-info-block {
  position: relative;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 18%;
  margin-bottom: 4%;
}

.info-block-heading {
  font-family: saurabh-medium;
  font-size: 40px;
}

/* info two part */

.casestudy-info-block-half1 {
  display: flex;
  width: 50%;
  float: left;
}

.casestudy-info-block-half2 {
  display: flex;
  width: 50%;
  float: right;
}

.casestudy1-section4 {
  width: 100vw;
  height: auto;
  display: flex;
  position: relative;
  background-color: white;
}

.casestudy-info-block1 {
  position: relative;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: -20%;
  margin-bottom: 4%;
}

.casestudy-info-block2 {
  position: relative;
  margin-left: 21%;
  margin-top: 4%;
  margin-right: 18%;
  margin-bottom: 4%;
}

.quotepara::before {
  content: "";
  margin-left: -1%;
  border-left: 3px solid var(--primary-color);
  height: 130px;
  position: absolute;
}

.quotepara {
  font-family: saurabh-book;
  font-size: 28px;

  margin-left: 10px;
  text-align: center;
}

.section5 {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 1;
}

.casestudy-full-size {
  position: relative;
  width: 100vw;
}

.section6 {
  width: 100vw;
  height: auto;
  position: relative;
}

/* .research-image {
  width: 60vw;
  padding-left: 20%;
  position: relative;
} */

.section7 {
  width: 100vw;
  height: auto;
  position: relative;
}

.research-photos-grid {
  display: grid;
  grid-gap: 30px;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto; */
  grid-auto-flow: dense;
}

.research-div-wrapper {
  display: flex;
  width: 63%;
  align-items: center;
  align-content: center;
  left: 20%;
  position: relative;
  margin-left: -10px;
  z-index: 1;
}

.research-photos-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.research-photos-grid > .big {
  grid-column: span 2;
}

/* section8  */

/* Showcase
  ---------------------------------
  ------------------------------- */

.showcase-video {
  width: 100%;
  height: 98vh;
}

/* case study div */
/*
.showcase-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background-color: #f4f4f4;
  z-index: 1;
  flex-direction: column;
}
.showcase-div {
  width: 67%;
  height: 57vh;
  margin-left: 18%;
  padding: 17px 0px 17px 0px;
  background-color: white;
  display: flex;
  margin-top: 30px;
  position: relative;
  transition: box-shadow 0.45s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.dynamic-width {
  height: 72%;
  width: 39%;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 25.5%;
  transform: translate(-50%, -50%);
  transition: width 0.45s, margin-left 0.45s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.showcase-div:hover > .dynamic-width {
  width: calc(60% - 12%);
  margin-left: 13%;
}
.showcase-div:hover {
  cursor: pointer; 
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px;
}

.showcase-png {
  position: absolute;
  width: 54%;
  height: 31%;
  padding-left: 6%;
  padding-top: 4%;
}

.showcase-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 64px;

  position: absolute;
  top: 0;
  left: 92%;
  color: #595959;
} */

.showcase-container-home {
  display: flex;
  width: 70%;
  margin-left: 16.4%;
}

.showcase-container {
  display: flex;
  width: 70%;
  margin-left: 16.4%;
  margin-top: 100px;
}

.showcase-container-grid {
  display: grid;
  width: 100%;
  max-width: 100%;
  margin: auto;
  grid-gap: 30px;
  background: var(--white);
  margin-bottom: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.showcase-projects {
  background-color: red;
  width: 100%;
  height: 100%;
}

.item1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.item2 {
  grid-column: 4/7;
  grid-row: 1/4;
  margin-top: 100px;
}

.item3 {
  grid-column: 1/4;
  grid-row: 4/7;
  margin-top: -100px;
}

.item4 {
  grid-column: 4/7;
  grid-row: 4/7;
}

.item5 {
  grid-column: 1/4;
  grid-row: 7/10;
  margin-top: -200px;
}

.item6 {
  grid-column: 4/7;
  grid-row: 7/10;
  margin-top: -100px;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-card-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 0.1rem;
  overflow: hidden;
}

.projects-image {
  width: 100%;
  height: 100%;
  transform: scale(1.09);
  transform-origin: center;
  transition: transform 0.4s cubic-bezier(0.08, 0.24, 0.79, 0.93);
}

.projects-card-wrapper {
  position: relative;
  transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects-content {
  position: absolute;
  left: 0%;
  bottom: 0%;
  display: inline-block;
  background: white;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  opacity: 0;
  height: 120px;
  transition: all 0.45s cubic-bezier(0.4, 0, 0, 1);
}

.projects-heading {
  font-family: saurabh;
  font-size: 25px;
  margin-top: 30px;
}

.projects-sub-heading {
  font-family: saurabh-book;
  font-size: 16px;
  margin-left: 18px;
  margin-top: -19px;
}

.projects-content h3 {
  margin-left: 18px;
}

/* animate */
.projects-card-wrapper:hover {
  transition-delay: 100ms;
  transform: scale(0.97);
}

.projects-card-wrapper:hover .projects-image {
  transition-delay: 200ms;
  transform: scale(1);
}

.projects-card-wrapper:hover .projects-content {
  opacity: 1;
  width: 49%;
  transition-delay: 300ms;
}

@media screen and (max-width: 575px) {
  .showcase-container-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
  }

  .item2 {
    margin-top: 20px;
  }

  .item3 {
    margin-top: 20px;
  }

  .item4 {
    margin-top: 20px;
  }

  .item5 {
    margin-top: 20px;
  }

  .item6 {
    margin-top: 20px;
  }
}

/* Blog
---------------------------
--------------------
 */

.blog-section1 {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.background-lines {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

/* Blog Section 2
Sorting and shuffling */
.btn {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 3px;
  background: #fff;
  border: 0.5px solid #707070;
  color: #707070;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;

  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.btn:hover {
  background-color: #555555;
  color: white;
}

.btn.active {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.margin-btn {
  margin-right: 20px;
}

.blog-section2 {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}

.blog-filter {
  display: flex;
  width: 70%;
  margin-left: 20%;
  margin: 29px auto 29px 20%;
}

.blog-section3 {
  width: 100%;
  height: auto;
}

.article-container {
  width: 80%;
  margin-left: 13%;
  min-height: 46vh;
  display: none;
  position: relative;
  background-color: white;
}

.show {
  display: block;
}

.hl {
  border-top: 1px solid #797979;

  width: 100%;
}

.hl-control1 {
  width: 80%;
  margin-left: 13%;
  background-color: white;
  position: relative;
}

.article-category {
  margin-left: 5%;
  padding-top: 4%;
  font-family: saurabh-book;
  font-size: 20px;
  position: absolute;
}

.article-text-container {
  margin-left: 20%;
  padding-top: 4%;
  padding-bottom: 3%;
}

.article-date {
  font-family: saurabh-book;
  font-size: 20px;
  position: relative;
}

.article-heading {
  font-family: saurabh;
  font-size: 32px;
  position: relative;
  width: 65%;
  padding-top: 1.4%;
}

.article-para {
  position: relative;
  width: 65%;
  font-family: saurabh-book;
}

.article-pic {
  width: 230px;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  height: 230px;
  display: flex;
  position: absolute;
}

.article-pic-adjust {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-read-more {
  font-family: saurabh-book;
  font-size: 20px;
  color: var(--primary-color);
  padding-top: 1%;
  position: relative;
}

@media (max-width: 999px) {
  .article-text-container {
    margin-left: 5%;
  }

  .article-category {
    margin-left: 27%;
  }

  .article-container {
    margin-left: 10%;
  }

  .hero-title-div {
    margin-left: 10%;
    margin-top: 8%;
  }

  .article-pic {
    width: 190px;
    right: 3%;
    height: 190px;
  }
}

/*  same word slide in */
.hover-link a {
  position: relative;
  display: inline-block;
  outline: none;
  color: var(--primary-color);
  text-decoration: none;
}

.link-effect a {
  overflow: hidden;
}

.link-effect a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.link-effect a span::before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;
  color: var(--primary-color);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.link-effect a:hover span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.blog-footer {
  width: 100%;
  position: relative;
  height: 70vh;
}

/* About Page  
 ------------------------------------
 ----------------------------------
 */

.about-para-div {
  margin-left: 0%;
  margin-top: 4%;
  margin-right: 13%;
  margin-bottom: 4%;
}

.about-para {
  margin-top: -20px;
  margin-right: 0%;
}

/* About Section 1 */

.about-section-1 {
  position: absolute;
  height: 100vh;
}

.about-title {
  font-family: saurabh;
  font-size: 91px;
  position: relative;
  line-height: 90px;
  color: #171717;
}

.hl {
  border-top: 1px solid #797979;
  width: 100%;
}

.watch-showreel {
  width: 100%;
  margin-right: 17%;
  margin-left: -3px;
  height: 13vh;
  position: relative;
}

.showreel-div {
  width: 100%;
  position: absolute;
}

.hl-control2 {
  width: 100%;
  top: 0%;
  position: absolute;
  z-index: 2;
}

.hl-control3 {
  width: 100%;
  position: absolute;
  bottom: 0%;
}

/* .about-vl {
  border-left: 1px solid #797979;
  height: 13vh;
  position: absolute;
  left: 50%;
  margin-left: 2px;
  z-index: 2;
} */

.watch-showreel > p {
  font-family: saurabh-book;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translateY(-130%) translateX(-50%);
  transform: translateY(-130%) translateX(-50%);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, stroke-width 1s ease;
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 2px;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

#play:hover .stroke-dotted {
  stroke-width: 3px;
  opacity: 1;
}

#play:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}

#play:hover .icon {
  -webkit-transform: scale(1.05);
  transform: scale(1.2);
}

#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.showreel-tiny-image {
  width: 50%;
  height: 13vh;
  position: absolute;
  background-color: var(--primary-color);
  right: 0%;
}

.showreel-tiny-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video Play */
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.about-blank-section1 {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.about-section2 {
  height: 80vh;
  width: 100%;
  position: relative;
  padding-top: 40px;
}

.me-images {
  width: 65%;
  left: 19%;
  background-color: white;
  height: auto;
  position: absolute;
}

.me-image1 {
  width: 80%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.me-image2 {
  width: 25%;
  padding-top: 33%;
  left: 51%;
  position: absolute;
}

.me-image3 {
  width: 22%;
  position: absolute;
  padding-top: 43%;
  right: 0%;
}

.me-image4 {
  width: 18%;
  position: absolute;
  padding-top: 23.5%;
  left: 82%;
}

.about-section3 {
  width: 100%;
  min-height: 100vh;
}

.about-me-text {
  position: relative;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 18%;
  margin-bottom: 4%;
}

/* .instagram-feed {
  width: 70%;
  margin: auto;
}

.powered-by {
  display: none !important;
}

.powered-by img {
  display: none;
}

.lightwidget {
  display: flex;
  flex-wrap: wrap;
} */

/* capabilities */

.a-capabilities-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.a-block-left {
  margin-left: 20%;
  width: 31.5%;
  margin-top: 3%;
  margin-bottom: 3%;
  z-index: 2;
}

.a-block-right {
  margin-top: 3%;
  margin-right: 17%;
  margin-bottom: 3%;
  width: 31.5%;
  z-index: 2;
}

.c-text {
  font-family: saurabh-book;
  font-size: 27px;
  line-height: 20px;
  transition: 0.3s;
  color: black;
  z-index: 2;
}

.c-text::before {
  content: "";
  height: 2px;
  background-color: #242424;
  width: 0px;
  margin-left: -20px;
  position: absolute;
  margin-top: 10px;
  transition: width 0.3s;
}

.c-text:hover::before {
  width: 20px;
}

.c-text:hover {
  padding-left: 20px;
  cursor: pointer;
}

.c-pic {
  position: absolute;
  width: 20%;
  top: 20%;
  left: 20%;
  opacity: 0;
  transition: 0.1s;
}

.c-text:hover + .c-pic {
  opacity: 1;
}

.c-outline-bg-text {
  font-family: saurabh;
  font-size: 200px;
  position: absolute;
  opacity: 0.2;
}

.c-text2:hover + .c-outline-bg-text {
  opacity: 1;
}

.a-tools-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.a-projects-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
