/*
* Design and Code: Saurabh Rai
*/

/* html {
  scroll-behavior: smooth;
} */

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* margin-left: 100px; */
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

.black80 {
  color: black;
  opacity: 0.8;
}

.black70 {
  color: black;
  opacity: 0.7;
}

.black60 {
  color: black;
  opacity: 0.6;
}

.black40 {
  color: black;
  opacity: 0.4;
}

.black20 {
  color: black;
  opacity: 0.2;
}

.white100 {
  color: white;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.ml-20 {
  margin-left: 20%;
  width: 60%;
  padding-top: 50px;
}

p {
  color: #3c3c3c;
}

/* Colours Pallete*/

:root {
  --primary-color: #fc3a52;
  --secondary-color: #1c1b20;
}

@font-face {
  src: url("Font/CircularStd-Bold.otf");
  font-family: saurabh;
}

@font-face {
  src: url("Font/CircularStd-Book.otf");
  font-family: saurabh-book;
}

@font-face {
  src: url("Font/CircularStd-Medium.otf");
  font-family: saurabh-medium;
}

.white {
  color: #ffffff;
}

.black {
  color: #0e2431;
}

body {
  margin: 0;
  font-family: Saurabh;
}

/* ---------------------------------------------------------------------------
Home Page
------------------------------------------------------------------------------ */

.home-section-1 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
}

/* Vertical Line */

.vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  left: 52%;
  margin-left: -3px;
  top: 0;
}

.vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  /* z-index: 0; */
}

.dot1 {
  left: 20%;
  margin-left: -20px;
  top: 16%;
  background-color: #fc3a52;
}

.dot2 {
  left: 52%;
  margin-left: -20px;
  top: 30%;
  background-color: #f6ecdd;
}

.dot3 {
  left: 83%;
  margin-left: -20px;
  top: 3%;
  background-color: #372154;
}

.hero-title-div {
  position: absolute;
  margin-left: 20%;
  margin-top: 8%;
}

.hero-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 92px;
  color: #171717;
}

.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}

.hero-para {
  margin-top: -20px;
}

.para {
  font-family: saurabh-book;
  font-size: 23px;
}

.hero-circle {
  position: absolute;
  right: 20%;
  top: 22%;
  display: flex;
  z-index: 0;
}

/* Section two 
gallery with grid and changing image with time and parallax */

.section-2-container {
  display: flex;
  /* height: 145vh; */
  width: 70%;
  align-items: center;
  align-content: center;
  margin-left: 17%;
  position: relative;
}

.home-section-2 {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  height: auto;
  width: 100%;
  z-index: 1;
  /* grid-area:
    "a b c d e f"
    "g h i j k l"
    "m n o p q r"; */
}

.home-section-2 > .bottom-fit {
  align-items: flex-end;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > .middle-fit {
  align-items: center;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > .up-fit {
  align-items: baseline;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2 > div > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 
----Section 3 / Home
-------------------------- */

.home-section3 {
  display: flex;
  height: 170vh;
  width: 100%;
  background-color: #f4f4f4;
  z-index: 2;
}

.vertical-text {
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: top left;
  bottom: 0;
  left: 7%;
  text-align: center;
  color: #fc3a52;
}

/* Canvas Artboard ___________________*/

.canvas-artboard {
  display: block;
  width: 35.1vh;
  height: 46.8vh;
  position: relative;
  left: 64%;
  transform: translateX(-11.05vh);
  top: 15%;
  border-width: 0.2vh;
  border-color: #fc3a52;
  border-style: dashed;
  transition: top 1.5s ease-in-out;
  background-color: white;
}

/* Section 3/ Home User Drawing */

.user-drawing-div {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 10%;
  left: -7%;
  flex-wrap: wrap;
}

.user-drawing {
  height: 30.8vh;
  width: 23.1vh;
  margin: 5px 5px;
  background-color: white;
  position: relative;
}

.artist-you {
  margin-top: 40px;
}

/* Text Changing and Animation  
---------------------------------------------*/

.text-wrapper {
  text-align: left;
}

.animated-words {
  display: inline-block;
}

.animated-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: transparent;
}

.animated-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: transparent;
}

.animated-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: transparent;
}

.animated-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: transparent;
}

.animated-words span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: transparent;
}

.animated-words span {
  position: absolute;
  opacity: 0;
  /* overflow: hidden; */
  left: 0%;
  top: 0%;
  color: transparent;
  -webkit-animation: animateWord 18s linear infinite 0s;
  -ms-animation: animateWord 18s linear infinite 0s;
  animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Section 4/ showcase 
---------------------------*/

.section-4-work {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Section4 Grid Work
---------------------------------- */

.section5-work {
  width: 100vw;
  align-items: center;
  align-content: center;

  z-index: 2;
}

/* Media Queries
-----------------------------
------------------------------- */

@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 80px;
    line-height: 80px;
  }

  .para {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .hero-title {
    font-size: 70px;
    line-height: 70px;
  }

  .para {
    font-size: 18px;
  }

  .home-section-2 {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .home-section-2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Case Study| Project Template */
/* -----------------------------------
------------------------------------
----------------------------- */

.casestudy-hero-section {
  display: flex;
  height: 120vh;
  width: 100vw;
}

/* .casestudy-hero-background {
  background: url('projects/casestudy1-1.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.home-overlay {
  background-color: white;
  opacity: 0.96;
}

.casestudy-overlay {
  background-color: var(--primary-color);
  opacity: 0.8;
}

.parallax-window {
  height: 100vh;
  position: relative;
}

.line {
  width: 50px;
  height: 4px;
  background: white;
  border: none;
  margin-top: -40px;
  margin-left: 0;
}

.casestudy-vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.casestudy-vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.casestudy-vl2 {
  left: 51.58%;
  margin-left: -3px;
  top: 0;
}

.casestudy-vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

.casestudy-title-div {
  margin-left: 20%;
  margin-top: 12%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.casestudy-hero-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 92px;
  color: white;
}

.casestudy-outlined {
  -webkit-text-stroke: 0.6px white;
  color: transparent;
}

.casestudy-category {
  color: white;
  font-family: saurabh-book;
}

.casestudy-hero-para {
  color: white;
  font-family: saurabh-book;
}

.hero-para {
  margin-top: 10px;
}

.para {
  font-family: saurabh-book;
  font-size: 23px;
}

.casestudy1-section2 {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  margin-top: 20px;
}

.w-220 {
  min-width: 300px;
}

h5 {
  font-family: saurabh-book;
  font-size: 19px;
  margin-bottom: 0px;
  color: black;
  opacity: 0.4;
}

.casestudy1-section3 {
  width: 100vw;
  /* height: 72vh; */
  height: auto;
  position: relative;
  background-color: white;
}

.casestudy-info-block {
  position: relative;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 18%;
  margin-bottom: 4%;
}

.info-block-heading {
  font-family: saurabh-medium;
  font-size: 40px;
}

/* info two part */

.casestudy-info-block-half1 {
  display: flex;
  width: 50%;
  float: left;
}

.casestudy-info-block-half2 {
  display: flex;
  width: 50%;
  float: right;
}

.casestudy1-section4 {
  width: 100vw;
  height: auto;
  display: flex;
  position: relative;
  background-color: white;
}

.casestudy-info-block1 {
  position: relative;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: -20%;
  margin-bottom: 4%;
}

.casestudy-info-block2 {
  position: relative;
  margin-left: 21%;
  margin-top: 4%;
  margin-right: 18%;
  margin-bottom: 4%;
}

.quotepara::before {
  content: "";
  margin-left: -1%;
  border-left: 3px solid var(--primary-color);
  height: 130px;
  position: absolute;
}

.quotepara {
  font-family: saurabh-book;
  font-size: 28px;

  margin-left: 10px;
  text-align: center;
}

.section5 {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 1;
}

.casestudy-full-size {
  position: relative;
  width: 100vw;
}

.section6 {
  width: 100vw;
  height: auto;
  position: relative;
}

/* .research-image {
  width: 60vw;
  padding-left: 20%;
  position: relative;
} */

.section7 {
  width: 100vw;
  height: auto;
  position: relative;
}

.research-photos-grid {
  display: grid;
  grid-gap: 30px;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto; */
  grid-auto-flow: dense;
}

.research-div-wrapper {
  display: flex;
  width: 63%;
  align-items: center;
  align-content: center;
  left: 20%;
  position: relative;
  margin-left: -10px;
  z-index: 1;
}

.research-photos-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.research-photos-grid > .big {
  grid-column: span 2;
}

/* section8  */

/* Showcase
  ---------------------------------
  ------------------------------- */

.showcase-video {
  width: 100%;
  height: 98vh;
}

/* case study div */

.showcase-section2 {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr);
  grid-gap: 10px; */
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background-color: #f4f4f4;
  z-index: 1;
  flex-direction: column;
  padding: 17px 0px 17px 0px;
}
.showcase-div {
  width: 67%;
  height: 57vh;
  margin-left: 18%;
  background-color: white;
  display: flex;
  position: relative;
  transition: box-shadow 0.45s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.dynamic-width {
  height: 72%;
  width: 39%;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 25.5%;
  transform: translate(-50%, -50%);
  transition: width 0.45s, margin-left 0.45s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.showcase-div:hover > .dynamic-width {
  width: calc(60% - 12%);
  margin-left: 13%;
}
.showcase-div:hover {
  /* cursor: pointer; */
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px;
}

.showcase-png {
  position: absolute;
  width: 54%;
  height: 31%;
  padding-left: 6%;
  padding-top: 4%;
}

.showcase-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 64px;

  position: absolute;
  top: 0;
  left: 92%;
  color: #595959;
}
