/*
* Design and Code: Saurabh Rai
*/

html,
body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  src: url("Font/CircularStd-Bold.otf");
  font-family: saurabh;
}

@font-face {
  src: url("Font/CircularStd-Book.otf");
  font-family: saurabh-book;
}

::selection {
  background: #ff556a;
  color: white;
}

.home-section-1 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

/* Vertical Line */

.vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.vl3 {
  left: 80%;
  margin-left: -3px;
  top: 0;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  z-index: 0;
}

.dot1 {
  left: 20%;
  margin-left: -20px;
  top: 16%;
  background-color: #fc3a52;
}

.dot2 {
  left: 50%;
  margin-left: -20px;
  top: 30%;
  background-color: #f6ecdd;
}

.dot3 {
  left: 80%;
  margin-left: -20px;
  top: 3%;
  background-color: #372154;
}

.hero-title-div {
  position: absolute;
  margin-left: 20%;
  margin-top: 12%;
}

.hero-title {
  font-family: saurabh;
  font-size: 95px;
  position: relative;
  line-height: 92px;
  color: #171717;
}

.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}

.hero-para {
  margin-top: 10px;
}

.para {
  font-family: saurabh-book;
  font-size: 23px;
}

.hero-circle {
  position: absolute;
  right: 20%;
  top: 22%;
  display: flex;
  z-index: 0;
}

/* Section two 
gallery with grid and changing image with time and parallax */

.section-2-container {
  display: flex;
  height: 145vh;
  width: 70%;
  align-items: center;
  align-content: center;
  margin-left: 17%;
  position: relative;
}

.home-section-2 {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  height: auto;
  width: 100%;
  z-index: 1;
  /* grid-area:
    "a b c d e f"
    "g h i j k l"
    "m n o p q r"; */
}

.home-section-2>.bottom-fit {
  align-items: flex-end;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2>.middle-fit {
  align-items: center;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2>.up-fit {
  align-items: baseline;
  font-size: 2em;
  color: #ffeead;
  display: flex;
}

.home-section-2>div>img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 
----Section 3 / Home
-------------------------- */

.home-section3 {
  display: flex;
  height: 170vh;
  width: 100%;
  background-color: #f4f4f4;
}

.vertical-text {
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: top left;
  bottom: 0;
  left: 7%;
  text-align: center;
  color: #fc3a52;
}

/* Canvas Artboard ___________________*/

.canvas-artboard {
  display: block;
  width: 35.1vh;
  height: 46.8vh;
  position: relative;
  left: 64%;
  transform: translateX(-11.05vh);
  top: 15%;
  border-width: 0.2vh;
  border-color: #fc3a52;
  border-style: dashed;
  transition: top 1.5s ease-in-out;
  background-color: white;
}

/* Section 3/ Home User Drawing */

.user-drawing-div {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 10%;
  left: -7%;
  flex-wrap: wrap;
}

.user-drawing {
  height: 30.8vh;
  width: 23.1vh;
  margin: 5px 5px;
  background-color: white;
  position: relative;
}

.artist-you {
  margin-top: 40px;
}

/* Text Changing and Animation  
---------------------------------------------*/

.text-wrapper {
  text-align: left;
}

.animated-words {
  display: inline-block;
}

.animated-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: transparent;
}

.animated-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: transparent;
}

.animated-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: transparent;
}

.animated-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: transparent;
}

.animated-words span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: transparent;
}

.animated-words span {
  position: absolute;
  opacity: 0;
  /* overflow: hidden; */
  left: 0%;
  top: 0%;
  color: transparent;
  -webkit-animation: animateWord 18s linear infinite 0s;
  -ms-animation: animateWord 18s linear infinite 0s;
  animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Section 4/ showcase 
---------------------------*/

.section4-showcase {
  height: 100vh;
}

#myVideo {
  position: relative;

  max-width: 100%;
  max-height: 100%;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.video-dimension {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.section-4-work {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Section4 Grid Work
---------------------------------- */

.Section5-work {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-gap: 10px;
  align-items: center;
}